<body style="background-color: black;width: 100vw;height: auto; color: antiquewhite;">

<!-- Note : i have disable the component from showing at a time by display : none so we can use multiple component in same app but we can choose which one to display and when -->

<app-task1 style="display: none;"></app-task1>

<app-directive-examples style="display: none;"></app-directive-examples>

<app-task2 style="display: none;"></app-task2>

<app-pipes-examples style="display: none;"></app-pipes-examples>

<app-post style="display: none;"></app-post>

<app-template-driven-form style="display: none;"></app-template-driven-form>

<app-reactive-form style="display: none;"></app-reactive-form>

<app-reactive-form-custom-validation style="display: none;"></app-reactive-form-custom-validation>

<!-- <app-routing-example></app-routing-example> -->

<!-- below example is for routing  -->
<button routerLink="/" routerLinkActive="active">Home</button>
<button routerLink="/routing-example" routerLinkActive="active">routing-example-post</button>

<router-outlet></router-outlet>

</body>



<!-- <button (click)="handleClick($event)">Click me</button> -->
<!-- <input type="text" (keyup)= "onkeyup($event)"/> -->



<!-- 
one way data binding :
  <input type="text" [value]="data" (keyup.enter)="onkeyup()">
  data : string |undefined;
    onkeyup(){
    console.log(this.data);
  }

two way data binding :
<input type="text" [(ngModel)]="data" name="Enter Data" (keyup.enter)="onkeyup()"> 
data : string |undefined;
onkeyup(){
console.log(this.data);
}
-->



<!--
keyup.enter is the example of event filtering 
or
$event.keyCode which returns keys ascii value
-->


<!--
  example of ngModel :
  app.component.module
   import { FormsModule } from '@angular/forms'; 

   <input type="text" [(ngModel)]="data" name="Enter Data" (keyup.enter)="onkeyup()">
  
   data : string |undefined;
    onkeyup(){
    console.log(this.data);
  }
-->

