<body style="background-color: black;width: 100vw;height: auto; color: antiquewhite;">

<app-task1 style="display: none;"></app-task1>

<app-directive-examples style="display: none;"></app-directive-examples>

<app-task2 style="display: none;"></app-task2>

<app-pipes-examples></app-pipes-examples>

</body>





<!-- 
one way data binding :
  <input type="text" [value]="data" (keyup.enter)="onkeyup()">
  data : string |undefined;
    onkeyup(){
    console.log(this.data);
  }

two way data binding :
<input type="text" [(ngModel)]="data" name="Enter Data" (keyup.enter)="onkeyup()"> 
data : string |undefined;
onkeyup(){
console.log(this.data);
}
-->



<!--
keyup.enter is the example of event filtering 
or
$event.keyCode which returns keys ascii value
-->


<!-- 
  <input type="text" name="Enter Data" (keyup.enter)="onkeyup(data.value)" #data> 
  onkeyup(data:any){
   console.log(data);
  }
-->


<!--
  example of ngModel :
  app.component.module
   import { FormsModule } from '@angular/forms'; 

   <input type="text" [(ngModel)]="data" name="Enter Data" (keyup.enter)="onkeyup()">
  
   data : string |undefined;
    onkeyup(){
    console.log(this.data);
  }
-->

